<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymworkout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymWorkOut">
        <activity android:name=".leg.TrapBarDeadLift"></activity>
        <activity android:name=".leg.LungsAndSquat" />
        <activity android:name=".leg.HowToDoLungs" />
        <activity android:name=".leg.HowToHavePerfactLeg" />
        <activity android:name=".leg.BiggerHipsButtoucks" />
        <activity android:name=".leg.Calfcalves" />
        <activity android:name=".leg.LegButtocsConditioning" />
        <activity android:name=".leg.ElevatedFrontFootBarbbellSplitSquat" />
        <activity android:name=".leg.BurpeesillerChestCoreGymnasting" />
        <activity android:name=".leg.BarbbellStraightLegDeadLift" />
        <activity android:name=".leg.BarbbellFrontSquat" />
        <activity android:name=".leg.BacSquatExcerSize" />
        <activity android:name=".chest.WidgripDeclineBarbbellBecnchPress" />
        <activity android:name=".chest.SuspendedPushUps" />
        <activity android:name=".chest.SmithMachineBenchPress" />
        <activity android:name=".chest.ReverseGripInclineBnechPress" />
        <activity android:name=".chest.NuetralgripInclineBenchPress" />
        <activity android:name=".chest.NutralGripDumbbelBenchPress" />
        <activity android:name=".chest.InclineSmithMachineBenchPress" />
        <activity android:name=".chest.InclineDumbbellBenchPress" />
        <activity android:name=".chest.InclineBarbbellBenchPress" />
        <activity android:name=".chest.EzBarPullOver" />
        <activity android:name=".chest.DumbbellFly" />
        <activity android:name=".chest.DumbellBenchPress" />
        <activity android:name=".chest.DeclineBarbellBenchPress" />
        <activity android:name=".chest.CableCrossOver" />
        <activity android:name=".chest.BarbellTowlBenchPress" />
        <activity android:name=".chest.BarbellInclineBenchPressMediumGrip" />
        <activity android:name=".chest.BarbellBoardBenchPress" />
        <activity android:name=".cardio.HowToDoLungs" />
        <activity android:name=".cardio.PerFactLegWallSit" />
        <activity android:name=".cardio.MountainClimber" />
        <activity android:name=".cardio.HighKneesRunningInPlace" />
        <activity android:name=".biceps.WideGripEzBarBicepsCurl" />
        <activity android:name=".biceps.StaticCurl" />
        <activity android:name=".biceps.StandinEzBArBicepsCurl" />
        <activity android:name=".biceps.OneArmConsontrationCurl" />
        <activity android:name=".biceps.LyingConsontrationCableCurl" />
        <activity android:name=".biceps.InclineOffsetThumbDumbbellCurl" />
        <activity android:name=".biceps.HammerCurlToPress" />
        <activity android:name=".biceps.ForWardBendBicepsCUrl" />
        <activity android:name=".biceps.EzBarPrecherCurl" />
        <activity android:name=".biceps.DUmbellHammerCurl" />
        <activity android:name=".biceps.DeclineHammerCUrl" />
        <activity android:name=".biceps.DeadHangBicepsCurl" />
        <activity android:name=".biceps.CloseBodyDumbbellHammer" />
        <activity android:name=".biceps.CloseGripEzBarBicepsCurl" />
        <activity android:name=".biceps.CableHammerCurl" />
        <activity android:name=".biceps.CableBicepsCurl" />
        <activity android:name=".biceps.BehindTheBAckOneArm" />
        <activity android:name=".biceps.BarbellBicepsCurl" />
        <activity android:name=".biceps.AlternatingInclineDumbbellBiceps" />
        <activity android:name=".biceps.AlternatingDumbbbellBicepsCurl" />
        <activity android:name=".TricepsActivity" />
        <activity android:name=".triceps.SingleArmDumbbellOverHead" />
        <activity android:name=".triceps.TricepsExtentionOnFloor" />
        <activity android:name=".triceps.TableTopDip" />
        <activity android:name=".triceps.SwissBallDumbbelllying" />
        <activity android:name=".triceps.SingleArmRope" />
        <activity android:name=".triceps.RopePressDown" />
        <activity android:name=".triceps.SeatedDumbbellOverHead" />
        <activity android:name=".triceps.ReverseGripPressDown" />
        <activity android:name=".triceps.DumbellLyingtriceps" />
        <activity android:name=".triceps.DUmbbellKickBack" />
        <activity android:name=".triceps.AlternatingDumbbellLying" />
        <activity android:name=".calf.WideGripJumpSrug" />
        <activity android:name=".calf.StraightlegCalfStretch" />
        <activity android:name=".calf.StandingBarbellCalfRaiseonFloor" />
        <activity android:name=".calf.SeatedDumbeltoeRaise" />
        <activity android:name=".calf.SeatedCalfRaise" />
        <activity android:name=".calf.LateralLeapandHop" />
        <activity android:name=".calf.DonkeyCalfRaise" />
        <activity android:name=".calf.AnkleCircle" />
        <activity android:name=".calf.ThreeWayCalfRaise" />
        <activity android:name=".forearm.ReverseGripwristCurl" />
        <activity android:name=".forearm.ReverseEzBarCurl" />
        <activity android:name=".forearm.BehindTheBackBarbellReversewritCurl" />
        <activity android:name=".forearm.BarbellWristCurl" />
        <activity android:name=".forearm.BarbellReverseWristCurl" />
        <activity android:name=".BackActivity" />
        <activity android:name=".back.ThirtyDeegreeLatPullDown" />
        <activity android:name=".back.BarbellDeadlift" />
        <activity android:name=".back.CrossOvrChinUp" />
        <activity android:name=".back.ChinUp" />
        <activity android:name=".back.DumbbellDeadlift" />
        <activity android:name=".back.DumbbelFacePullWithExternalRotation" />
        <activity android:name=".back.ElevatedFeetInvertedRow" />
        <activity android:name=".back.InvertedRow" />
        <activity android:name=".back.LatPullDown" />
        <activity android:name=".back.NuetralGripPullUp" />
        <activity android:name=".back.RackPull" />
        <activity android:name=".back.ScapularRetraction" />
        <activity android:name=".back.SingleArmCableRow" />
        <activity android:name=".back.WideGripLatPullDown" />
        <activity android:name=".abs.WeightedSitups" />
        <activity android:name=".abs.ReversePlankHover" />
        <activity android:name=".abs.ReverseCurlANdLift" />
        <activity android:name=".abs.ReverseCrunchOnBench" />
        <activity android:name=".abs.PlankPikes" />
        <activity android:name=".abs.NegativeSitUps" />
        <activity android:name=".abs.MedicineBallvUp" />
        <activity android:name=".abs.KneelingobliqueCablecrunch" />
        <activity android:name=".abs.kneelingAbWhwwlExcersize" />
        <activity android:name=".abs.InclineReverseCrunch" />
        <activity android:name=".abs.HipCrossOverExcerSize" />
        <activity android:name=".abs.FoamRollarReverseCrunchwithmedicineball" />
        <activity android:name=".abs.FoamRollarReverseCrunchOnBench" />
        <activity android:name=".abs.CrosPunchRollUps" />
        <activity android:name=".HinduPushups" />
        <activity android:name=".TwistingDumbbell" />
        <activity android:name=".ChestSholderTriceps" />
        <activity android:name=".DumbbellFrontRaise" />
        <activity android:name=".DumbbellShoulderPress" />
        <activity android:name=".CloseOnHeadExecrSize" />
        <activity android:name=".Bent_Over_Lateral_raises_incline_bench" />
        <activity android:name=".ReverseFlyExcersize" />
        <activity android:name=".LegsActivity" />
        <activity android:name=".ForeArmsActivity" />
        <activity android:name=".CalfActivity" />
        <activity android:name=".ChestActivity" />
        <activity android:name=".BicepsActivity" />
        <activity android:name=".AbsActivity" />
        <activity android:name=".ShoulderActivity" />
        <activity android:name=".CardioActivity" />
        <activity android:name=".DashboardActivity">

        </activity>
        <activity android:name=".SplashScreen" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>>
    </application>

</manifest>